server:
  port: 8082

spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:mysql://localhost:3306/qlkh?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: root
    password: Viethien1@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate.format_sql: true

logging:
  level:
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: mappings
  server:
    port: 8082

jwt:
  secret: this-is-my-ultra-long-jwt-secret-key-Viethien1@7890
  expiration-ms: 86400000

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka


# URL của Product-service (dùng tên service trong Eureka)
product:
  service:
    url: http://product-service
